
footer{
    .footer{
        height: map-get($sizes,$350);
        width: $ancho;
        overflow: map-get($especificacion,$oculto);
        background-color: $color-cuarto;
        color: $color-quinto
        background-size: map-get($especificacion,$cubierto);
        background-position: $centrado;
            
    }
    .container
        .row
            .col
                .textoFooterUno{
                    font-size: map-get($rem,$ceroocho);
                }

                .textoFooterDos{
                    @extend .textoFooterUno;
                }
                .textoFooterTres{
                    @extend .textoFooterUno;
                }
                .textoFooterCuatro{
                    @extend .textoFooterUno;
                }
            .col
                .textoFooterCinco{
                    @extend .textoFooterUno;
                }

                .textoFooterSeis{
                    @extend .textoFooterUno;
                }
                .textoFooterSiete{
                    @extend .textoFooterUno;
                }
                .textoFooterOcho{
                    @extend .textoFooterUno;
                }
    .tituloDerechosIconos{
        height: map-get($sizes,$70);
        width: $ancho;
        overflow: map-get($especificacion,$oculto);
        background-color: $color-cuarto;
        background-size: map-get($especificacion,$cubierto);
        background-position: $centrado;
        font-family:$tipografia-alternativa;
        font-weight: map-get($fuentes,$regular);
        color: $color-quinto
    }
        .iconosInstagram{
            color: map-get($iconos,$faceinstagram);
            font-size: map-get($rem,$dos);
            margin-left: map-get($rem,$uno);
            margin-right: map-get($rem,$ceroocho);
            margin-top: map-get($rem,$ceroocho);
            
            
        }       
        .iconosFacebook{
            color: map-get($iconos,$faceinstagram);
            font-size: map-get($rem,$dos);
            margin-left: map-get($rem,$uno);
            margin-right: map-get($rem,$ceroocho);
            margin-top: map-get($rem,$ceroocho);
            
            
        } 
    .container
        .row
            .navbar
                .textoFooterNav{
                    @extend .textoHeader;
                
                }    

}