
main{
    .coverIndex{
        height: map-get($sizes,500);
        color: $color-quinto
        background-size: map-get($especificacion,cubierto);
        background-position: map-get($especificacion,centrado);
        background-color: $backgroundcolor-main;
        background-blend-mode: map-get($especificacion,oscurecer);
        font-family: $tipografia-general;
        font-weight: map-get($fuentes,regular);
        font-size: map-get($rem,unocuatro);
        
        
        .titulo{
            font-size: map-get($rem,trescinco);
            justify-content: map-get($especificacion,centrado);
        }
    }
    .container 
        .row
            .col
                .card
                    .cover{
                        height: map-get($sizes,500);
                        color: $color-quinto;
                        background-size: map-get($especificacion,cubierto);
                        background-position: map-get($especificacion,centrado);
                        background-color: $backgroundcolor-main;
                        background-blend-mode: map-get($especificacion,oscurecer);
                        font-family: $tipografia-general;
                        font-weight: map-get($fuentes,regular);
                        font-size: map-get($rem,unocuatro);
                    }
                    .coverSmall{
                        height: map-get($sizes,300);
                        background-blend-mode: map-get($especificacion,normalidad);
                    
                    }    

                    .textoIndexPrimero{
                        @include titulo;
                        font-weight: map-get($fuentes,bold);
                        font-size: map-get($rem,ceroocho);
                        margin-top: map-get($rem,uno);
                        margin-bottom: map-get($rem,dos);
            
                    }
            .col 
                .card
                    .cover{
                        height: map-get($sizes,500);
                        color: $color-quinto;
                        background-size: map-get($especificacion,cubierto);
                        background-position: map-get($especificacion,centrado);
                        background-color: $backgroundcolor-main;
                        background-blend-mode: map-get($especificacion,oscurecer);
                        font-family: $tipografia-general;
                        font-weight: map-get($fuentes,regular);
                        font-size: map-get($rem,unocuatro);
                    }
                    .coverSmall{
                        height: map-get($sizes,300);
                        background-blend-mode: map-get($especificacion,normalidad);
                    
                    }     
                    .textoIndexSegundo{
                        @include titulo;
                        font-weight: map-get($fuentes,bold);
                        font-size: map-get($rem,ceroocho);
                        margin-top: map-get($rem,uno);
                        margin-bottom: map-get($rem,dos);
            
                    }
            .col 
                .card
                    .cover{
                        height: map-get($sizes,500);
                        color: $color-quinto;
                        background-size: map-get($especificacion,cubierto);
                        background-position: map-get($especificacion,centrado);
                        background-color: $backgroundcolor-main;
                        background-blend-mode: map-get($especificacion,oscurecer);
                        font-family: $tipografia-general;
                        font-weight: map-get($fuentes,regular);
                        font-size: map-get($rem,unocuatro);
                    }
                    .coverSmall{
                        height: map-get($sizes,300);
                        background-blend-mode: map-get($especificacion,normalidad);
                    
                    }  
                    .textoIndexTercero{
                        @include titulo;
                        font-weight: map-get($fuentes,bold);
                        font-size: map-get($rem,ceroocho);
                        margin-top: map-get($rem,uno);
                        margin-bottom: map-get($rem,dos);
                
                    }
    .container
        .row
            .col
                .textoCarrousel{
                    font-family: $tipografia-general;
                    font-weight: map-get($fuentes,$medium);
                    font-size: map-get($rem,$dos);
                    color: $color-segundo;
                    text-align: $centrado;
                }
                .textoCarrousel{
                    font-family: $tipografia-general;
                    font-weight: map-get($fuentes,$medium);
                    font-size: map-get($rem,$dos);
                    color: $color-segundo;
                    text-align: $centrado;
                }

    .box__fixed{
        width: map-get($sizes,60);
        height: map-get($sizes,60);
        background-color: $backgroundcolor-box;
        position: map-get($especificacion,fijo);
        bottom: map-get($sizes,10);
        right: map-get($sizes,10);
        .iconoWhatsapp{
            color: map-get($iconos,faceinstagram);
            font-size: map-get($rem,dos);
            margin-left: map-get($rem,uno);
            margin-right: map-get($rem,ceroocho);
            margin-top: map-get($rem,ceroocho);
                                                        
                                                        
        }
                                    
    }       
}