
main{
    .coverPreguntas{
        @extend .coverIndex;
        background-image: url(../Assets/Images/rsz_1foto_banner_3.jpg);
        .titulo{
            font-size: map-get($rem,$trescinco);
            justify-content: $centrado;
        }
    }
    .container
        .row
            .col
                .d-flex
                    .iconoTubo{
                        color: map-get($iconos,$tubo);
                        font-size: map-get($rem,$unocinco);
                        margin-left: map-get($rem,$uno);
                        margin-right: map-get($rem,$ceroocho);
                        margin-top: map-get($rem,$cerocinco);
                        
                    }
                    .textoParrafoUno{
                        font-family: $tipografia-general;
                        font-weight: map-get($fuentes,$bold);
                        font-size: map-get($rem,$dos);
                        color: $color-tercero;
                        margin-top: map-get($rem,$cinco);   
                    }
                    .textoPreguntas{
                        font-family: $tipografia-general;
                        font-weight: map-get($fuentes,$bold);
                        font-size: map-get($rem,$dos);
                        color: $color-tercero;
                       
                    }
                    .textoParrafo{
                        font-family: $tipografia-general;
                        font-weight: map-get($fuentes,$bold);
                        font-size: map-get($rem,$dos);
                        color: $color-tercero;
                        margin-top: map-get($rem,$cinco);  
                        .textoTitulo{
                            font-family: $tipografia-general;
                            font-weight: map-get($fuentes,$bold);
                            font-size: map-get($rem,$uno);
                            color:$color-primero;
                            margin-top: map-get($rem,$dos);
                          
                        }
                        
                        .textoPreguntas{
                            font-family: $tipografia-general;
                            font-weight: map-get($fuentes,$regular);
                            font-size: map-get($rem,$uno);
                            color: $color-primero;
                            margin-top: map-get($rem,$dos);
                            text-align: $izquierda;
                            
                        } 
                        .textoTituloUno{
                            @extend .textoTitulo;
                        }
                        .textoPreguntasUno{
                            @extend .textoPreguntas;
                        }
                        .textoTituloDos{
                            @extend .textoTitulo;
                        }
                        .textoPreguntasDos{
                            @extend .textoPreguntas;
                        }
                    }
    .container
        .row
            .col
                 .d-flex
                    .iconoTubo{
                    color: map-get($iconos,$tubo);
                    font-size: map-get($rem,$unocinco);
                    margin-left: map-get($rem,$uno);
                    margin-right: map-get($rem,$ceroocho);
                    margin-top: map-get($rem,$cerocinco);
                                    
                    }
                    .textoParrafoUno{
                    font-family: $tipografia-general;
                    font-weight: map-get($fuentes,$bold);
                    font-size: map-get($rem,$dos);
                    color: $color-tercero;
                    margin-top: map-get($rem,$cinco);   
                    }
                    .textoPreguntas{
                    font-family: $tipografia-general;
                    font-weight: map-get($fuentes,$bold);
                    font-size: map-get($rem,$dos);
                    color: $color-tercero;
                                   
                    }
                    .textoParrafo{
                        font-family: $tipografia-general;
                        font-weight: map-get($fuentes,$bold);
                        font-size: map-get($rem,$dos);
                        color: $color-tercero;
                        margin-top: map-get($rem,$cinco);  
                        .textoTitulo{
                            font-family: $tipografia-general;
                            font-weight: map-get($fuentes,$bold);
                            font-size: map-get($rem,$uno);
                            color:$color-primero;
                            margin-top: map-get($rem,$dos);
                                            
                            }
                                        
                        .textoPreguntas{
                            font-family: $tipografia-general;
                            font-weight: map-get($fuentes,$regular);
                            font-size: map-get($rem,$uno);
                            color: $color-primero;
                            margin-top: map-get($rem,$dos);
                            text-align: $izquierda;
                                            
                        } 
                        .textoTituloUno{
                            @extend .textoTitulo;
                        }
                        .textoPreguntasUno{
                            @extend .textoPreguntas;
                        }
                        .textoTituloDos{
                            @extend .textoTitulo;
                        }
                        .textoPreguntasDos{
                            @extend .textoPreguntas;
                        }
    }
    .box__fixed{
        width: map-get($sizes,$60);
        height: map-get($sizes,$60);
        background-color: $backgroundcolor-box;
        position: map-get($especificacion,$fijo);
        bottom: map-get($sizes,$10);
        right: map-get($sizes,$10);
        .iconoWhatsapp{
        color: map-get($iconos,$faceinstagram);
        font-size: map-get($rem,$dos);
        margin-left: map-get($rem,$uno);
        margin-right: map-get($rem,$ceroocho);
        margin-top: map-get($rem,$ceroocho);
                                        
                                        
        }
                    
    }