
main{
    .coverQuienes{
        @extend .coverIndex;
        background-image: url(../Assets/Images/imagenbanner-quienesomos.jpg);
        .titulo{
            font-size: map-get($rem,trescinco);
            justify-content: $centrado;
        }
    }
    .div{
        .tituloQuienes{
            font-family: $tipografia-general;
            font-weight: map-get($fuentesbold);
            font-size: map-get($rem,dos);
            color: $color-tercero;
            margin-top: map-get($rem,cinco);
            text-align: $centrado;
            
        }
    }
    .card{
        .slide-left{
            .row{
                .col{
                    .card-body{
                        .tituloCardl{
                            @include titulo;
                            font-weight: map-get($fuentes,boldxl);
                            font-size: map-get($rem,uno);
                            margin-top: map-get($rem,dos);
                            .textoCard{
                                font-family: $tipografia-general;
                                font-weight: map-get($fuentes,medium);
                                font-size: map-get($rem,uno);
                                color: $color-tercero;
                                margin-top: map-get($rem,dos);
                                text-align: $centrado;
                            }
                                                    
                        }
                        .textoCardSegunda{
                            @extend .textoCard;
                        }
                    }  
                }   
                .col{
                    .imagenCard{
                        height: $ancho;
                        width: $ancho;
                        background-size: map-get($especificacion,cubierto);
                        background-position: $centrado;
                        
                    }  
                }
            }        

        }
    } 
    .card
        .slide-left
            .row
                .col
                    .imagenDos{
                        @extend .imagenUno;
                    }   

                .col
                    .card-body
                        .tituloCardlSegundo{
                            @include titulo;
                            font-weight: map-get($fuentes,boldxl);
                            font-size: map-get($rem,uno);
                            margin-top: map-get($rem,dos);
                            
                        
                        }
                        .textoCardSegundo{
                            @extend .textoCard;
                        }
                        .textoCardTercero{
                            @extend .textoCard;
                        }
    .card
        .slide-left
            .row
                .col
                    .card-body 
                        .tituloCardlTercero{
                            @include titulo;
                            font-weight: map-get($fuentes,boldxl);
                            font-size: map-get($rem,uno);
                            margin-top: map-get($rem,dos);
                            
                        
                        }
                        
                        .textoCardCuarto{
                            @extend .textoCard;
                        }

                        .textoCardQuinto{
                            @extend .textoCard;
                        }
    .box__fixed{
        width: map-get($sizes,60);
        height: map-get($sizes,60);
        background-color: $backgroundcolor-box;
        position: map-get($especificacion,fijo);
        bottom: map-get($sizes,10);
        right: map-get($sizes,10);
        .iconoWhatsapp{
            color: map-get($iconos,faceinstagram);
            font-size: map-get($rem,dos);
            margin-left: map-get($rem,uno);
            margin-right: map-get($rem,ceroocho);
            margin-top: map-get($rem,ceroocho);
            
            
        }
    }
                                
}